.planets {
  display: flex;

  gap: 20px;
}

.planet-7 {
  width: 100px;
  height: 100px;
  background-image: url("/planet07.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.planet-9 {
  width: 100px;
  height: 100px;
  background-image: url("./assets/planet09.png");
  background-size: contain;
  background-repeat: no-repeat;
}
