@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

#app-root {
  position: relative;
  width: 100vw;
  height: 100vh;
}
